.ReviewsList {
    /*background-color: black;*/
    max-height: 19.1vh;
    margin-top: -1vh;
    padding-left: 0;
    overflow: auto;
}

.ReviewsContainer {
    /*background-color: white;*/
    border-top: solid thin;
}

.ReviewContent {
    /*background-color: red;*/
    min-height: 7vh;
    max-height: 7vh;
}

.ReviewContent>p {
    font-weight: 400;
    font-size: 1em;
    /*background-color: green;*/
}

.Reviewer {
    /*background-color: red;*/
    font-size: 0.8em;
    font-weight: 400;
    color: slategrey;
    margin-top: -0.6vh;
}